<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Completed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <h1>upload success screen</h1>
    <form action="/uploadPic" method="POST"
        enctype="multipart/form-data">
            <button type="submit" class="btn"formaction="/" formmethod="GET">Home</button>
          </form>
    <img 
        src="<%= typeof file != 'undefined' ? file : '' %>" 
        class="responsive-img">

     <!-- https://code.jquery.com/ -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>   
</body>
</html>