html
  head
    title= title
  body
    h1= title
    form(action="/uploadPic", method="POST", enctype="multipart/form-data")
      div
        span File
        input(name="userImage", type="file")
      button= "Submit"
    h2 myPhotos
    each photo in items
      img(src='./uploads/' + photo, style="width: 150px; height: 150px;"  )
      
        
  