<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KenzieGram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    

    <div id='container'>
        <h1>KenzieGram</h1>
        <%= typeof msg != 'undefined' ? msg : '' %>
<!-- https://materializecss.com/text-inputs.html -->
        <form action="/uploadPic" method="POST"
        enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn pink">
                <span>File</span>
                <input name="userImage" type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <button type="submit" class="btn blue">Submit</button>
            <!-- formaction="/" formmethod="GET" -->
            <button type="submit" class="btn" onclick="location.href"="/" >Home</button>
          </form>
          <br>  <!-- class="img-responsive" for materialize -->
          
          <div> 

          <% if (photo) {%>
          
            <% photo.forEach((image) => { %>
                <img src="<%= typeof image != 'undefined' ? image : '' %>" 
                     class="responsive-img">
            <% }) %>

          <% } %>
          
          </div>


          <img 
            src="<%= typeof file != 'undefined' ? file : '' %>" 
            class="responsive-img">
<!--  <% if(1==1){ %>
            
            <img src = "<%= typeof file != 'undefined' ? file : '' %>"
                class="responsive-img">
          <% } %> -->          
         

<!--
         
-->         
          
   </div>

<!-- https://code.jquery.com/ -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
<!-- materializecss.com -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>