html
    head
        title= title
    body
        h2= title
        img(src=file)
        form(action="/uploadPic", method="POST", enctype="multipart/form-data")
            button(type="submit", class="btn", formaction="/", formmethod="GET")= "Home"